{{! Use the main layout }}
{{!< main }}

<main>
    <section class="login-register">
        <section class="register-area">
            <h2>Login with Google</h2>
            {{#if regError}}
                <p style="color: red;">{{regError}}</p>
            {{/if}}
            <a href="/auth/google">Sign in with Google</a>
        </section>
    </section>
</main>
